#container, html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body.mobile #container .navigation {
  padding-top: calc(8.5px + 10px);
  min-height: calc(60px + 10px);
}

body.mobile #container #main {
  height: calc(50% - 60px - 10px);
}

#main {
  margin: 0 5px 0 5px;
  padding: 5px 0 5px 0;
  height: calc(50% - 60px);
}

#form {
  font-family: 'Source Code Pro', sans-serif;
  background: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
} #form::-webkit-input-placeholder {
  font: 19px 'Lato', san-serif;
  color: #2B2B2B;
} #form:-o-placeholder {
  font: 19px 'Lato', san-serif;
  color: #2B2B2B;
} #form::-moz-placeholder {
  font: 19px 'Lato', san-serif;
  color: #2B2B2B;
} #form::-ms-input-placeholder {
  font: 19px 'Lato', san-serif;
  color: #2B2B2B;
}

.navigation .container form {
  width: calc(100% - 130px);
  float: left;
  margin: 7px 0 6px 0;
} .navigation {
  width: 100%;
  min-height: 60px;
  padding: 8.5px 12px 11px 8px;
  background: #2970DF;
  box-shadow: 0 0 3px #2970DF;
}

#community {
  background-color: #ADADAD;
  box-shadow: 0 0 10px #ADADAD;
  height: 50%;
  padding: 1% 1% 1.5% 1%;
  overflow-x: hidden;
} #community .article {
  float: left;
  width: 100%;
  padding: 10px 8px 0 8px;
} #community .article:last-child {
  padding: 10px 8px 8px 8px;
} #community .article .title {
  float: left;
  text-decoration: none;
  color: #090909;
  text-shadow: 0 0 .3px #ACACAC;
  font: 20px 'Lato', sans-serif;
} #community .article .thread,
#community .article .author,
#community .article .points {
  float: right;
  color: #2B2B2B;
  text-shadow: 0 0 .2px #FFF;
  font: 11px 'Lato', sans-serif;
  margin: 0 10px 0 0;
  text-decoration: none;
} #community .article .author {
  margin: 0 11px 0 0;
} #community .article .points:hover {
  cursor: default;
  text-decoration: none;
} #community .plug {
  background-color: #313130;
  border: 1px solid #000;
  font: 62px 'Lato', sans-serif;
  text-align: center;
  margin: 0 1% 0 0;
  overflow-x: hidden;
  width: 31.5%;
  height: 80px;
  float: right;
  border-radius: 3px;
  cursor: pointer;
} #community .plug a, .plug a:hover {
  text-decoration: none;
} #community .plug a {
  color: #F0F0F0;
} #community .plug a:hover {
  color: #C4C4C4;
} #community .plug.tv {
    margin: 0 /**/ 0 /**/ 0 0;
} #community .hash-radio {
  float: left;
  margin: 0 0 0 0;
  width: 35%;
  height: 80px;
}

#namespace {
  text-align: left;
  float: left;
  width: 100%;
  padding: 1px 0 1px 2px;
  font: 22px 'Lato', sans-serif;
  line-height: 1.24;
  background-color: transparent;
  color: #E0E0E0 !important;
  border: 0;
  border-radius: 2px;
} #namespace::-webkit-input-placeholder {
  color: #E0E0E0;
} #namespace:-moz-placeholder {
  color: #E0E0E0;
} #namespace::-moz-placeholder {
  color: #E0E0E0;
} #namespace::-ms-input-placeholder {
  color: #E0E0E0;
}

.jb-give {
  width: 130px;
  float: right;
  margin: 7px 0 6px 0;
} .jb-give .nav-select {
  color: #FFF;
  text-align: center;
  width: 48.5%;
  font-size: 16px;
  margin: 0 1% 0 .5%;
  padding: 5% 0 5% 0;
  background-color: rgb(76, 142, 250);
  float: right;
  border-radius: 2px;
} .jb-give .nav-select:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.fa-important {
  font-family: FontAwesome !important;
}

/* Body Scrollbar */
#body::-webkit-scrollbar { width: 0; }
#body::-moz-scrollbar { width: 0; }
#body::-o-scrollbar { width: 0; }
#body::-ms-scrollbar { width: 0; }
/* Body Scrollbar */

/* Realm Scrollbar */
#community::-webkit-scrollbar {
  width: 3px;
} #community::-webkit-scrollbar-track {
  background-color: #ADADAD;
} #community::-webkit-scrollbar-thumb {
  background-color: #2B2B2B;
} #community::-moz-scrollbar {
  width: 3px;
} #community::-moz-scrollbar-track {
  background-color: #ADADAD;
} #community::-moz-scrollbar-thumb {
  background-color: #2B2B2B;
} #community::-o-scrollbar {
  width: 3px;
} #community::-o-scrollbar-track {
  background-color: #ADADAD;
} #community::-o-scrollbar-thumb {
  background-color: #2B2B2B;
} #community::-ms-scrollbar {
  width: 3px;
} #community::-ms-scrollbar-track {
  background-color: #ADADAD;
} #community::-ms-scrollbar-thumb {
  background-color: #2B2B2B;
}
/* Realm Scrollbar */

/* Form Scrollbar */
#form::-webkit-scrollbar { width: 0; }
#form::-moz-scrollbar { width: 0; }
#form::-o-scrollbar { width: 0; }
#form::-ms-scrollbar { width: 0; }
/* Form Scrollbar */

/* Nav (if needed) Scrollbar */
.navigation::-webkit-scrollbar { width: 0; }
.navigation::-moz-scrollbar { width: 0; }
.navigation::-o-scrollbar { width: 0; }
.navigation::-ms-scrollbar { width: 0; }
/* Nav (if needed) Scrollbar */

.remove {
  display: none;
} *:focus {
  outline: none;
} * {
  box-sizing: border-box;
} .toast {
  font-family: 'Lato', san-serif;
}