#main {
  margin-top: 57px;
  height: calc(100% - 57px);
}

#form {
  resize: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: .2%;
} #form::-webkit-input-placeholder {
  font: 20px 'Lato', san-serif;
  color: #2B2B2B;
} #form:-moz-placeholder { /* Firefox 18- */
  font: 20px 'Lato', san-serif;
  color: #2B2B2B;
} #form::-moz-placeholder {  /* Firefox 19+ */
  font: 20px 'Lato', san-serif;
  color: #2B2B2B;
} #form::-ms-input-placeholder {
  font: 20px 'Lato', san-serif;
  color: #2B2B2B;
}

.navigation {
  width: 100%;
  height: auto;
  max-height: 100%;
  position: fixed;
  left: 0; top: 0;
  padding: 8.5px 1.5% 9px 1.5%;
  overflow-y: scroll;
  background: rgb(37, 64, 87);
}

.navigation .container form {
  width: calc(100% - 300px);
  float: left;
} .navigation .below-top .alt .nav-select {
  width: 49.5%;
  padding: .5% 0 .5% 0;
  text-align: center;
  border: 2px solid #00A4F5;
  box-shadow: inset 0 0 1px #2B2B2B;
  background-color: #E9E9E9;
  margin: 0 0 8px 0;
  color: #2B2B2B;
  border-radius: 2px;
} .navigation .below-top .alt .nav-select:nth-child(odd) {
  float: left;
} .navigation .below-top .alt .nav-select:nth-child(even) {
  float: right;
}

#namespace {
  text-align: left;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 0 2px;
  margin: 0;
  font-size: 22px;
  line-height: 1.24;
  color: #E0E0E0 !important;
  background-color: transparent !important;
  background-image: none !important;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
} #namespace::-webkit-input-placeholder {
  color: #E0E0E0;
} #namespace:-moz-placeholder {
  color: #E0E0E0;
} #namespace::-moz-placeholder {
  color: #E0E0E0;
} #namespace::-ms-input-placeholder {
  color: #E0E0E0;
}

jb-give {
  width: 300px;
  float: right;
} jb-give .nav-select {
  color: #2B2B2B;
  text-align: center;
  width: 32%;
  font-size: 16px;
  margin: 0 0 0 4px;
  padding: 2px 0 3px 0;
  background-color: #E9E9E9;
  float: right;
  border-radius: 2px;
}

.jtb-radio {
  width: 100%;
} .jtb-radio .iframe {
  width: 100%;
  height: 80px;
}

.body.container {
  width: 100%;
  height: 100%;
}

html, body {
  background-color: #E9E9E9;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.navigation * {
  font-family: 'Lato', sans-serif;
} #main * {
  font-family: 'Source Code Pro', sans-serif;
} .fa-important {
  font-family: FontAwesome !important;
}

#news {
  float: right;
  width: 100%;
  margin: 0 0 8px 0;
} #news .point {
  width: 49.5%;
  margin: 0 0 7px 0;
  text-align: center;
  border: 2px solid #00A4F5;
  box-shadow: inset 0 0 1px #2B2B2B;
  background-color: #E9E9E9;
  border-radius: 2px;
} #news .point:nth-child(odd) {
  float: left;
} #news .point:nth-child(even) {
  float: right;
} #news .point h4 a {
  color: #2B2B2B;
} #news .point h4 {
  font-size: 19px;
}

.bootbox .modal-dialog .modal-content {
  background-color: #E9E9E9;
  border: 0 !important;
  border-radius: 2px;
  outline: 0;
} .bootbox .modal-dialog .modal-content .modal-header {
  padding: 15px 16px 2px 16px;
  border-bottom: 0;
} .bootbox .modal-dialog .modal-content .modal-body {
  padding: 12px;
} .bootbox .modal-dialog .modal-content .modal-footer {
  padding: 10px;
  text-align: right;
  border-top: 3px solid #2B2B2B;
}

.below-top {
  width: 100%;
  margin: 11px 0 0 0;
  float: left;
} .below-top .alt {
  width: 100%;
  float: left;
}

.navigation .container {
  padding: 0;
  width: 100% !important;
} .navigation .container form, jb-give {
  margin: 7px 0 5px 0;
} .body.container {
  padding: .5%;
  margin: 0;
}

/* Scrollbar START */
#form::-webkit-scrollbar { width: 0; }
#form::-webkit-scrollbar-track { width: 0; }
#form::-webkit-scrollbar-thumb { width: 0; }
#news .point .panel::-webkit-scrollbar { width: 0; }
#news .point .panel::-webkit-scrollbar-track { width: 0; }
#news .point .panel::-webkit-scrollbar-thumb { width: 0; }
.navigation::-webkit-scrollbar { width: 0; }
.navigation::-webkit-scrollbar-track { width: 0; }
.navigation::-webkit-scrollbar-thumb { width: 0; }
/* Scrollbar END */

.remove { display: none; }
*:focus { outline: none; }
.nav-select { cursor: pointer; }
.container form div { margin: 0; }