#container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #202020;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

a, p * {
  -webkit-font-smoothing: antialiased;
}

[main] {
  padding: 1.5%;
  height: calc(90% - 60px);
  width: 100vw;
}

[data-title]:hover:after {
  content: attr(data-title);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1%;
  font: 14px 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
  color: #FFF;
  cursor: default;
  background-color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .55);
}

#form {
  font-size: 16.5px;
  color: #E0E0E0;
} #form::-webkit-input-placeholder {
  font-size: 16.5px;
  color: #E0E0E0;
} #form:-o-placeholder {
  font-size: 16.5px;
  color: #E0E0E0;
} #form::-moz-placeholder {
  font-size: 16.5px;
  color: #E0E0E0;
} #form::-ms-input-placeholder {
  font-size: 16.5px;
  color: #E0E0E0;
}

[nav] .container form {
  width: calc(100% - 190px);
  padding: 0 .5% 0 0;
  float: left;
} [nav] {
  width: 100vw;
  min-height: 60px;
  padding: 0 1vw 0 1vw;
  background: rgb(34, 81, 202);
  box-shadow: 0 0 3px rgb(34, 81, 202);
}

div.pragma {
  width: 100%;
  padding: 2.5% 1% 2.5% 1%;
  background-color: rgb(34, 94, 202);
  text-align: center;
  font-size: 150%;
} div.pragma * {
  color: #F0F0F0 !important;
  text-decoration: none;
}

#community {
  width: 100%;
  background-color: rgb(34, 81, 202);
  box-shadow: 0 0 4.5px rgb(34, 81, 202);
  padding: 2% 2% calc(2% - 7px) 2%;
  overflow-x: hidden;
} #community:empty {
  opacity: .5;
  height: 10%;
} #community a[href]:after {
  font-size: 15px;
} #community .article {
  width: 100%;
  float: left;
  background-color: rgb(34, 100, 202);
  box-shadow: 0 .5px 2.5px rgb(34, 100, 202);
  padding: 1%;
  border-radius: 2px;
  margin: 0 0 10px 0;
} #community .article .title {
  font-size: 16.5px;
  float: left;
  text-decoration: none;
  padding: 0 3px 2.5px 0;
  color: #F0F0F0;
} #community .article .thread,
#community .article .author,
#community .article .points {
  float: right;
  color: #F0F0F0;
  font-size: 13.5px;
  margin: 3px 7px 3px 0;
  text-decoration: none;
} #community .article .points {
  cursor: default;
  text-decoration: none;
}

#namespace {
  text-align: left;
  float: left;
  width: 100%;
  padding: 0;
  font-size: 25px;
  line-height: 1.24;
  background-color: transparent;
  color: #E0E0E0;
  border: 0;
  border-radius: 2px;
} #namespace::-webkit-input-placeholder {
  color: #E0E0E0;
} #namespace:-moz-placeholder {
  color: #E0E0E0;
} #namespace::-moz-placeholder {
  color: #E0E0E0;
} #namespace::-ms-input-placeholder {
  color: #E0E0E0;
}

.jb-btn {
  width: 190px;
  float: right;
} .nav-select {
  cursor: pointer;
  float: inherit;
  color: #F9F9F9;
  text-align: center;
  width: 24%;
  font-size: 20px;
  margin: 0 1% 0 0;
  padding: 3% 2% 3% 2%;
  transition: box-shadow 200ms cubic-bezier(0.22, 0.61, 0.36, 1), background-color 210ms cubic-bezier(0.51, -0.21, 0, 1.1);
  border-radius: 2px;
} .nav-select:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .55);
  background-color: rgb(76, 142, 250);
}

/* Body Scrollbar */
#body::-webkit-scrollbar { width: 0; }
#body::-moz-scrollbar { width: 0; }
#body::-o-scrollbar { width: 0; }
#body::-ms-scrollbar { width: 0; }
/* Body Scrollbar */

/* Realm Scrollbar */
#community::-webkit-scrollbar { width: 0; }
#community::-moz-scrollbar { width: 0; }
#community::-o-scrollbar { width: 0; }
#community::-ms-scrollbar { width: 0; }
/* Realm Scrollbar */

/* Form Scrollbar */
#form::-webkit-scrollbar { width: 0; }
#form::-moz-scrollbar { width: 0; }
#form::-o-scrollbar { width: 0; }
#form::-ms-scrollbar { width: 0; }
/* Form Scrollbar */

/* Nav (if needed) Scrollbar */
[nav]::-webkit-scrollbar { width: 0; }
[nav]::-moz-scrollbar { width: 0; }
[nav]::-o-scrollbar { width: 0; }
[nav]::-ms-scrollbar { width: 0; }
/* Nav (if needed) Scrollbar */

[nav] .container form, .jb-btn {
  margin: 15px 0 0 0;
} #form {
  background: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
} .remove { display: none; }
*:focus { outline: none; }

* {
  font-family: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
  box-sizing: border-box !important;
} .fa-important {
  font-family: FontAwesome !important;
}

[nav] *, [main], #community {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#community a[href*="//vid.me/"]:after {
  content: " [Vidme]";
} #community a[href*="//www.youtube.com/"]:after,
#community a[href*="//youtu.be/"]:after {
  content: " [YouTube]";
} #community a[href*="//twitter.com/"]:after,
#community a[href*="//t.co/"]:after {
  content: " [Twitter]";
} #community a[href*="//jotboard.github.io/"]:after {
  content: " [Jotboard]";
} #community a[href*="//change.org/"]:after,
#community a[href*="//www.change.org/"]:after {
  content: " [Change.org]";
}

[_] {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 97.5%;
  max-height: 405px;
} [_] #_ {
  width: 100%;
  height: 100%;
}

/* Themes ;3 */
/* Markiplier */
.markiplier #container [nav] {
  background-image: url('img/themes/MarkiplierNav.png');
  background-repeat: no-repeat;
  background-position: center -80px;
  background-size: cover;
} .markiplier #container #community {
  background-image: url('img/themes/MarkiplierCommunity.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* /r/MontageParodies */
.montageparodies #container [nav] {
  background-image: url('img/themes/MontageParodiesNav.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
} .montageparodies #container #community {
  background-image: url('img/themes/MontageParodiesCommunity.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #FFF;
  background-size: contain;
}