.qury-jtb form input {
  width: 100%;
  outline: none;
  border: 2px solid #00AAFF;
  border-radius: 2px;
  padding: .5%;
  background-color: #2B2B2B !important;
  font: 20px 'Noto Sans', sans-serif;
}

.qury-jtb { width: 100%; }
.qury-jtb * { box-sizing: border-box; }

.gsc-control-cse {
  font-family: 'Noto Sans', sans-serif;
}

.gsc-tabHeader.gsc-tabhActive {
  border: none !important;
  background-color: transparent;
} .gsc-tabHeader.gsc-tabhInactive {
  background: transparent !important;
  color: #2B2B2B !important;
  border: none !important;
}

.gsc-orderby-label { display: none !important; }

.gsc-option-menu-container {
  color: #2B2B2B;
  font-size: 80%;
  position: relative;
}

.gcsc-branding {
  display: none;
}

.gsc-results {
  width: 100%;
}

.gsc-above-wrapper-area {
  border: none;
  padding: 4px 0 3px 0;
}

.gsc-refinementsArea {
  border-bottom: none;
  padding-top: 5px;
}