body#body {
  background: -webkit-linear-gradient(45deg, hsla(253, 66%, 44%, 1) 0%, hsla(253, 66%, 44%, 0) 70%), -webkit-linear-gradient(135deg, hsla(165, 73%, 60%, 1) 10%, hsla(165, 73%, 60%, 0) 80%), -webkit-linear-gradient(225deg, hsla(224, 33%, 51%, 1) 10%, hsla(224, 33%, 51%, 0) 80%), -webkit-linear-gradient(315deg, hsla(238, 100%, 33%, 1) 100%, hsla(238, 100%, 33%, 0) 70%);
	background: linear-gradient(45deg, hsla(253, 66%, 44%, 1) 0%, hsla(253, 66%, 44%, 0) 70%), linear-gradient(135deg, hsla(165, 73%, 60%, 1) 10%, hsla(165, 73%, 60%, 0) 80%), linear-gradient(225deg, hsla(224, 33%, 51%, 1) 10%, hsla(224, 33%, 51%, 0) 80%), linear-gradient(315deg, hsla(238, 100%, 33%, 1) 100%, hsla(238, 100%, 33%, 0) 70%);
}

#_radio {
	width: 100%;
	height: 80px;
}

#_youtube {
	width: 100%;
	height: 320px;
	margin-top: 20px;
}

#form {
	font: 14px 'Source Code Pro', sans-serif;
	color: #F0F0F0;
	width: calc(100% - 265px);
	border-radius: 0;
	height: 100%;
	float: right;
}

.notes-container {
  width: 100%;
  height: auto;
  padding: 1% !important;
  margin: 0;
}

textarea#notes {
  font: 19px 'Roboto', sans-serif !important;
  color: #2B2B2B !important;
  width: 100%;
  height: 50px;
  text-align: center;
  background: none;
}

#form::-webkit-input-placeholder {
	font-family: 'Lato', san-serif;
	font-size: 65px;
	color: #292929;
} #form::-moz-input-placeholder {
	font-family: 'Lato', san-serif;
	font-size: 65px;
	color: #292929;
} #form::-o-input-placeholder {
	font-family: 'Lato', san-serif;
	font-size: 65px;
	color: #292929;
} #form::-ms-input-placeholder {
	font-family: 'Lato', san-serif;
	font-size: 65px;
	color: #292929;
}

#main {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

html, body, #html, #body {
	transition: background 0.600s ease;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.navagation #namespace, .navagation #radio_URI,
.navagation #namespace:focus, .navagation #radio_URI:focus {
	text-align: center;
	width: 100%;
	font-size: 20px; /* Font size */
	margin-top: 12px;
	margin-left: 0;
	margin-right: 0;
	height: inherit;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: none !important;
}

.navagation .container {
	width: 98%;
	padding-left: 0;
	padding-right: 0;
}

.navagation .nav-select, .navagation .select {
	text-align: center;
	width: 100%;
	margin: 8px .5% 8px .5%;
	cursor: pointer;
}

#_radio_insert form .form-group {
	margin-bottom: 6px !important;
} .navagation .select:first-child {
	margin-top: 9px !important;
} .navagation .select:last-child {
	margin-bottom: 0 !important;
}

.navagation .nav-select {
	font-size: 18px;
	background-color: #C2C2C2;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .22);
	color: #222;
	padding: 2px;
	border-radius: 2px;
}

.navagation .select {
  font-size: 65px;
  text-shadow: 0 0 3px #2B2B2B;
}

.navagation {
	width: 265px;
	transition: background-color 0.175s ease;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	font-family: 'Roboto', san-serif;
	height: 100%;
	max-height: 100%;
  background: -webkit-linear-gradient(45deg, hsla(0, 0%, 81%, 1) 0%, hsla(0, 0%, 81%, 0) 70%), -webkit-linear-gradient(315deg, hsla(0, 0%, 49%, 1) 10%, hsla(0, 0%, 49%, 0) 80%), -webkit-linear-gradient(225deg, hsla(0, 0%, 68%, 1) 10%, hsla(0, 0%, 68%, 0) 80%), -webkit-linear-gradient(135deg, hsla(0, 0%, 72%, 1) 100%, hsla(0, 0%, 72%, 0) 70%);
  background: linear-gradient(45deg, hsla(0, 0%, 81%, 1) 0%, hsla(0, 0%, 81%, 0) 70%), linear-gradient(135deg, hsla(0, 0%, 49%, 1) 10%, hsla(0, 0%, 49%, 0) 80%), linear-gradient(225deg, hsla(0, 0%, 68%, 1) 10%, hsla(0, 0%, 68%, 0) 80%), linear-gradient(315deg, hsla(0, 0%, 72%, 1) 100%, hsla(0, 0%, 72%, 0) 70%);
	box-shadow: 0 0 2px #C2C2C2;
	padding: .85%;
	position: fixed;
	left: 0;
	top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.body.container {
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}

div.bootbox.modal, div.bootbox.modal * {
	outline: none;
	user-select: none;
}

html, body, html#html, body#body {
	overflow: hidden;
	margin: 0;
	padding: 0.5%;
	width: 100%;
	height: 99.5%;
}

.navagation .jb-groupies.select { text-shadow:0 0 3px #2B2B2B; color: #2B2B2B; }
.navagation .jb-wc.select { text-shadow: 0 0 3px #1337D6; color: #1337D6; }
.navagation .jb-youtube.select { text-shadow: 0 0 3px #E52D27; color: #E52D27; }
.navagation .jb-radio.select { text-shadow: 0 0 3px #6AE368; color: #6AE368; }
.navagation .jb-humble.select { text-shadow: 0 0 3px #2B2B2B; color: #2B2B2B; }

iframe { overflow: hidden; }
iframe, textarea, input {
	resize: none;
	outline: none;
	border: none;
}

.no-select, .no-select * { user-select: none; }
#form::selection { background: rgba(0, 0, 0, .45); }
div.bootbox.modal, div.bootbox.modal * { font-family: 'Roboto', san-serif !important; }
div.bootbox.modal .modal-header { border-bottom: 0; }
div.bootbox.modal .modal-footer { border-top: 0; }
.fa { display: block !important; }
.nowrap-auto { white-space: nowrap; width: auto; }
* { overflow: auto; }
*::-webkit-scrollbar { background: none; width: 0; }
*::-webkit-scrollbar-thumb { background: none; }
*::-webkit-scrollbar-thumb:hover { background: none; }
*::-webkit-scrollbar-thumb:active { background: none; }
*::-moz-scrollbar { background: none; width: 0; }
*::-moz-scrollbar-thumb { background: none; }
*::-moz-scrollbar-thumb:hover { background: none; }
*::-moz-scrollbar-thumb:active { background: none; }
*::-o-scrollbar { background: none; width: 0; }
*::-o-scrollbar-thumb { background: none; }
*::-o-scrollbar-thumb:hover { background: none; }
*::-o-scrollbar-thumb:active { background: none; }
*::-ms-scrollbar { background: none; width: 0; }
*::-ms-scrollbar-thumb { background: none; }
*::-ms-scrollbar-thumb:hover { background: none; }
*::-ms-scrollbar-thumb:active { background: none; }
#main, #form { background: none; }
