.container-fluid.two {
  float: left;
  padding: 1% 1% 1% calc(1% + 330px);
  width: 100%;
  z-index: 1;
}

.remove {
  display: none !important;
  opacity: 0 !important;
}

div[nav] a {
  font-size: 25px;
} div[nav] form input {
  font-size: 15.5px;
} div[nav] form {
  width: 102px;
  float: left;
  margin: 4px;
} div[nav] {
  background-color: transparent;
}

div.post iframe {
  width: 100% !important;
} div.post.video iframe {
  height: 360px;
} div.post.audio iframe {
  height: 140px;
}

div.social-buttons div div span.btn {
  border: 1px solid #C7C7C7;
  background-color: #E9E9E9;
  margin: -2px 0 0 0;
} div.social-buttons div div span.btn:hover {
  border: 1px solid #C0C0C0;
  background-color: #E0E0E0;
} div.social-buttons div div span.btn a {
  color: #2D2D2D;
  text-decoration: none;
  text-shadow: 0 0 1px #BCBCBC;
}

#search-box {
  width: 100%;
}

div.post.photoset div img {
  width: 98%;
  margin: 1%;
  padding: 0;
}

div.post.photo div div img {
  width: 100%;
}

div.post div.panel.panel-default div.panel-heading h3 {
  margin: 6px 4px 5px 4px;
} div.post div.panel.panel-default div.panel-heading p {
  margin: 0;
}

div.post, div.posts, div.details,
div.social-buttons, div.comments, div.notes {
  width: 100%;
}

iframe#comments {
  width: 100%;
  height: 700px;
}

ol.notes li.note blockquote {
  margin: 10px;
  margin-left: 5px;
}

ol.notes li.note {
  list-style: none;
  border-bottom: 1px dashed #E0E0E0;
  padding-bottom: 5px;
  padding-top: 4px;
}

ol.notes {
  padding: 0;
}

ol.notes li.note a.avatar_frame {
  margin-right: 8px;
}

ol.notes li.note a.avatar_frame img {
  width: 19px;
  height: 19px;
}

*::-webkit-scrollbar { background: none; width: 0; }
*::-webkit-scrollbar-thumb { background: none; }
*::-webkit-scrollbar-thumb:hover { background: none; }
*::-webkit-scrollbar-thumb:active { background: none; }
*::-moz-scrollbar { background: none; width: 0; }
*::-moz-scrollbar-thumb { background: none; }
*::-moz-scrollbar-thumb:hover { background: none; }
*::-moz-scrollbar-thumb:active { background: none; }
*::-o-scrollbar { background: none; width: 0; }
*::-o-scrollbar-thumb { background: none; }
*::-o-scrollbar-thumb:hover { background: none; }
*::-o-scrollbar-thumb:active { background: none; }
*::-ms-scrollbar { background: none; width: 0; }
*::-ms-scrollbar-thumb { background: none; }
*::-ms-scrollbar-thumb:hover { background: none; }
*::-ms-scrollbar-thumb:active { background: none; }