.container-fluid.two {
  float: left;
  padding: 1% 1% 1% calc(1% + 330px);
  width: 100%;
}

iframe#tumblr_controls, .remove {
  display: none !important;
  opacity: 0 !important;
}

div.post iframe {
  width: 100% !important;
} div.post.video iframe {
  height: 360px;
} div.post.audio iframe {
  height: 140px;
}

div.social-buttons div div span.btn {
  border: 1px solid #C7C7C7;
  background-color: #E9E9E9;
  margin: -2px 0 0 0;
} div.social-buttons div div span.btn:hover {
  border: 1px solid #C0C0C0;
  background-color: #E0E0E0;
} div.social-buttons div div span.btn a {
  color: #2D2D2D;
  text-decoration: none;
  text-shadow: 0 0 1px #BCBCBC;
}

div.post.photoset div img {
  width: 98%;
  margin: 1%;
  padding: 0;
}

div.post.photo div div img {
  width: 100%;
}

div.post div.panel.panel-default div.panel-heading h3 {
  margin: 6px 4px 5px 4px;
} div.post div.panel.panel-default div.panel-heading p {
  margin: 0;
}

div.post, div.posts, div.details,
div.social-buttons, div.comments, div.notes {
  width: 100%;
}

iframe#comments {
  width: 100%;
  height: 700px;
}

ol.notes li.note blockquote {
  margin: 10px;
  margin-left: 5px;
}

ol.notes li.note {
  list-style: none;
  border-bottom: 1px dashed #E0E0E0;
  padding-bottom: 5px;
  padding-top: 4px;
}

ol.notes {
  padding: 0;
}

ol.notes li.note a.avatar_frame {
  margin-right: 8px;
}

ol.notes li.note a.avatar_frame img {
  width: 19px;
  height: 19px;
}

.navigation {
	background: rgba(31, 47, 58, .9);
	transition: opacity .130s ease;
	width: 330px;
	font-family: 'Lato', san-serif;
	height: 100%;
	max-height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 17px;
	overflow-y: scroll;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigation .nav-select {
  font: 25px 'Lato', san-serif;
  text-align: center;
  width: calc(100% - 1px);
  margin: 8px .5% 8px calc(.5% - 1px);
  cursor: pointer;
  background-color: #2B2B2B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .060);
  padding: 3px;
  border-radius: 4px;
} .navigation .nav-select a,
.navigation .nav-select a:link {
  color: #E0E0E0;
} .navigation .nav-select:first-child {
  margin-top: 6px;
}

#search-box {
  text-align: center;
  width: 100%;
  height: auto !important;
  padding: 10px 0 10px 0;
  font-size: 21px;
  line-height: 1.42857143;
  background-color: #2B2B2B;
  background-image: none;
  border: 1px solid #2A2A2A;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
  color: #E0E0E0;
} #search-box::-webkit-input-placeholder {
	color: #E0E0E0;
} #search-box::-moz-input-placeholder {
	color: #E0E0E0;
} #search-box::-o-input-placeholder {
	color: #E0E0E0;
} #search-box::-ms-input-placeholder {
	color: #E0E0E0;
}