#reddit {
  float: left;
  width: 60%;
}

#tv {
  float: right;
  margin: 1%;
  width: 40%;
  height: 320px;
}

#reddit .article {
  border: 2px solid #2D2D2D;
  background-color: #2A2A2A;
  padding: 1%;
  margin: 5px;
  border-radius: 3px;
}

#reddit .article .headline {
  float: left;
  color: #2DB9FF;
  font: 17px 'Roboto', sans-serif;
}

#reddit .article .thread {
  color: #E9E9E9;
  font: 9px 'Roboto', sans-serif;
}