body {
  background-color: #E9E9FF;
}

#reddit {
  float: left;
  width: 60%;
} #reddit .article {
  border: 2px solid #000000;
  background-color: #4F4F4F;
  padding: 7px;
  margin: 7px;
  border-radius: 4px;
} #reddit .article .headline {
  float: left;
  color: #2DB9FF;
  font: 17px 'Roboto', sans-serif;
} #reddit .article .thread {
  color: #E9E9E9;
  font: 9px 'Roboto', sans-serif;
}

#tv {
  float: right;
  padding: 7px;
  width: calc(38% - 7px);
  background: #0D7ECF;
  height: 293px;
  max-width: 500px;
  margin: 7px;
  border-radius: 4px;
}

#read-more {
  text-align: center;
  float: right;
  padding: 7px;
  width: calc(38% - 7px);
  background: #0D7ECF;
  max-width: 500px;
  margin: 7px;
  border-radius: 4px;
} #read-more a {
  font: 19px 'Lato', sans-serif;
  color: #F0F0F0;
}